{%extends "base.html" %}
{%block title%} Index Page {%endblock%}


{%block content%}
<h1>This is the index page</h1>
<p>Lessgo {{name}}</p>
<ul>
    {% for item in list %}
    <li {% if item==20 %} style="color: red;" {%endif%}>{{item}}</li>
    {% endfor %}
</ul>
<hr />
{%if name=="Aayush"%}
<p>Hello Admin!</p>
{%else%}
Hello User!
{%endif%}

<!-- Dynamic URLs -->
<!-- the name in url is that of the function of the intended route -->
<!-- it will automatically change the route to which the fn belongs -->
<a href="{{ url_for('filtersPage') }}">Go to filters Page</a>

{%endblock%}